body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
    margin-top: auto;
    margin-bottom: 128px;
    margin-left: 32px;
    margin-right: 32px;
}

::selection {
    background-color: #ffec99;
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -3px;
    margin: auto;
}

h2 {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-top: 8px;
}

.emoji-icon {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 112px;
    max-width: 660px;
}

.intro-image_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.intro-description {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}

.intro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: inherit;
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: inherit;
    height: 64px;
    padding-left: 24px;
    padding-right: 16px;
    border: none;
    border-radius: 8px;
}

.button-primary {
    background: #FFD43B;
    transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
    background: #fcc419;
    transition: background-color 0.2s ease-in-out;
}

.button-primary:active {
    background: #f59f00;
    transition: background-color 0.1s ease-in-out;
}

.button-secondary {
    background: #F1F3F5;
    transition: background-color 0.2s ease-in-out;
}

.button-secondary:hover {
    background: #e9ecef;
    transition: background-color 0.2s ease-in-out;
}

.button-secondary:active {
    background: #ced4da;
    transition: background-color 0.1s ease-in-out;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 32px;
    width: 100%;
    max-width: 1302px;
}

.projects-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.projects-row-tile {
    background: #f8f9fa;
    width: 100%;
    box-shadow: 0px 1px 8px rgba(15, 23, 43, 0.08), 0px 0px 0px 1px rgba(15, 23, 43, 0.08), 0px 50px 30px -40px rgba(15, 23, 43, 0.12);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.projects-material-design-icons {
    background: #E3FAFC;
    transition: background-color 0.2s ease-in-out;
    padding-bottom: 10%;
}

.projects-material-design-icons:hover {
    background: #C5F6FA;
    transition: background-color 0.4s ease-in-out;
}

.img-material-plugin-ui {
    box-shadow: 0px 50px 30px -40px rgba(11, 114, 133, 0.12);
    filter: drop-shadow(0px 1px 8px rgba(11, 114, 133, 0.08));
    position: absolute;
    top: 9%;
    left: 67%;
    width: 44%;
    height: auto;
}

.img-material-plugin-text {
    position: relative;
    top: 8%;
    left: 6%;
    width: 54%;
    height: auto;
}

.projects-pichon {
    text-align: center;
    background: #EBFBEE;
    transition: background-color 0.2s ease-in-out;
    padding-top: 5%;
    padding-bottom: 5%;
}

.projects-pichon:hover {
    background: #d3f9d8;
    transition: background-color 0.4s ease-in-out;
}

.img-pichon-ui {
    position: absolute;
    margin: auto;
    top: 5%; left: 0; bottom: 0; right: 0;
    box-shadow: 0px 1px 8px rgba(43, 138, 62, 0.08), 0px 0px 0px 1px rgba(43, 138, 62, 0.08), 0px 50px 30px -40px rgba(43, 138, 62, 0.12);
    border-radius: 1%;
    width: 89%;
}

.img-pichon-text {
    width: 53%;
}

.img-pichon-bg-circle {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 71%;
}

.img-pichon-feedback {
    width: 89%;
}

.about {
    max-width: 660px;
    margin-top: 112px;
}