body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #212529;
    margin: auto 32px 128px;
    
}

::selection {
    background-color: #ffec99;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -3px;
    margin: auto;
}

h2 {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-top: 8px;
}

img {
    display: block;
}

.emoji-icon {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-top: 128px;
    margin-bottom: 112px;
    max-width: 660px;
}

.intro-image_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.intro-description {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}

.intro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: inherit;
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    text-decoration: none;
    color: inherit;
    height: 64px;
    padding-left: 24px;
    padding-right: 16px;
    border: none;
    border-radius: 8px;
}

.button-primary {
    background: #FFD43B;
    transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
    background: #fcc419;
    transition: background-color 0.2s ease-in-out;
}

.button-primary:active {
    background: #f59f00;
    transition: background-color 0.1s ease-in-out;
}

.button-secondary {
    background: #F1F3F5;
    transition: background-color 0.2s ease-in-out;
}

.button-secondary:hover {
    background: #e9ecef;
    transition: background-color 0.2s ease-in-out;
}

.button-secondary:active {
    background: #ced4da;
    transition: background-color 0.1s ease-in-out;
}

.projects {
    gap: 32px;
    width: 100%;
    max-width: 1302px;
    transition: gap 0.3s;
    display: flex;
}

.projects__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: gap 0.3s;
}

.projects__tile {
    background: #FFFFFF;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    float: left;
    transition: margin-bottom 0.3s;
}

.project-material-design-icons {
    background: #E3FAFC;
    box-shadow: 0px 0px 0px 1px #C5F6FA;
    transition: background-color 0.2s ease-in-out;

}

.project-material-design-icons:hover {
    background: #C5F6FA;
    transition: background-color 0.4s ease-in-out;
}

.project-material-design-icons:hover .img-material-plugin-ui {
    transform: translateX(-3%);
    transition: transform 0.4s ease-in-out;
}

.img-material-plugin-ui {
    box-shadow: 0px 50px 30px -40px rgba(11, 114, 133, 0.12);
    filter: drop-shadow(0px 1px 8px rgba(11, 114, 133, 0.08));
    position: absolute;
    top: 9%;
    left: 67%;
    width: 44%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    transform-origin: left bottom;
}

.img-material-plugin-text {
    max-width: 100%;
    position: relative;
}

.project-pichon {
    text-align: center;
    background: #EBFBEE;
    box-shadow: 0px 0px 0px 1px #D3F9D8;
    transition: background-color 0.2s ease-in-out;
}

.project-pichon:hover {
    background: #d3f9d8;
    transition: background-color 0.4s ease-in-out;
}

.project-pichon:hover .img-pichon-ui {
    transform: scale(102%);
    transition: transform 0.4s cubic-bezier(.42,.97,.52,1.49);
}

.img-pichon-ui {
    position: absolute;
    margin: auto;
    top: 7%;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0px 1px 8px rgba(43, 138, 62, 0.08), 0px 0px 0px 1px rgba(43, 138, 62, 0.08), 0px 50px 30px -40px rgba(43, 138, 62, 0.12);
    border-radius: 1%;
    width: 89%;
    transition: transform 0.2s ease-in-out;
}

.img-pichon-background {
    max-width: 100%;
}

.project-fugue {
    text-align: center;
    background: radial-gradient(100% 43.23% at 100% 7.64%, #FFFBDC 0%, rgba(255, 251, 220, 0) 100%), radial-gradient(100% 40.73% at 0% 68.54%, #DAE6F6 0%, rgba(218, 230, 246, 0) 100%), radial-gradient(100% 77.9% at 0% 15.13%, #EAFCF1 0%, rgba(234, 252, 241, 0) 100%), radial-gradient(100% 66.35% at 100% 69.95%, #FBDED7 0%, rgba(251, 222, 215, 0) 100%), #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease-in-out;
}

.project-fugue-hover {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(100% 43.23% at 100% 7.64%, #FFF8BF 0%, rgba(255, 248, 191, 0) 100%), radial-gradient(100% 40.73% at 0% 68.54%, #CCE2FF 0%, rgba(204, 226, 255, 0) 100%), radial-gradient(100% 77.9% at 0% 15.13%, #CCFFDE 0%, rgba(204, 255, 222, 0) 100%), radial-gradient(100% 66.35% at 100% 69.95%, #FFD6CC 0%, rgba(255, 214, 204, 0) 100%), #FFFFFF;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.project-fugue:hover .project-fugue-hover{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.img-fugue-bg {
    position: relative;
    max-width: 100%;
}

.project-stratum {
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 0px 1px #E9ECEF;
    transition: background-color 0.2s ease-in-out;
}

.project-stratum:hover {
    background-color: #f1f3f5;
    transition: background-color 0.4s ease-in-out;
}

.img-stratum-background {
    max-width: 100%;
}

.img-stratum-pontus {
    position: absolute;
    left: 12%;
    top: 48%;
    width: 40%;
    height: auto;
    border-radius: 6%;
    box-shadow: 0px 1px 8px rgba(15, 23, 43, 0.08), 0px 50px 30px -40px rgba(15, 23, 43, 0.12);
    transform: rotate(-6deg);
    transition: all 0.2s ease-in-out;
}

.project-stratum:hover .img-stratum-pontus {
    transform: scale(103%) rotate(-6deg);
    transition: all 0.4s ease-in-out;
}

.img-stratum-eugene {
    position: absolute;
    left: 49%;
    top: 43%;
    width: 40%;
    height: auto;
    border-radius: 6%;
    box-shadow: 0px 1px 8px rgba(15, 23, 43, 0.08), 0px 50px 30px -40px rgba(15, 23, 43, 0.12);
    transform: rotate(6deg);
    transition: all 0.2s ease-in-out;
}

.project-stratum:hover .img-stratum-eugene {
    transform: scale(103%) rotate(6deg);
    transition: all 0.4s ease-in-out;
}

.project-figma-plugin {
    text-align: center;
    background-color: #F3F0FF;
    box-shadow: 0px 0px 0px 1px #E5DBFF;
    transition: background-color 0.2s ease-in-out;
}

.project-figma-plugin:hover {
    background-color: #e5dbff;
    transition: background-color 0.4s ease-in-out;
}

.project-figma-plugin:hover .img-figma-plugin-photos {
    transform: translateY(-2%);
    transition: transform 0.4s ease-in-out;
}

.project-figma-plugin:hover .img-figma-plugin-icons {
    transform: translateX(5%);
    transition: transform 0.4s ease-in-out;
}

.project-figma-plugin:hover .img-figma-plugin-illustrations {
    transform: translateX(-5%);
    transition: transform 0.4s ease-in-out;
}

.img-figma-plugin-text {
    max-width: 100%;
}

.img-figma-plugin-icons {
    position: absolute;
    left: -2%;
    top: 38%;
    width: 28.81%;
    transition: transform 0.2s ease-in-out;
}

.img-figma-plugin-photos {
    position: absolute;
    border-radius: 0.5%;
    box-shadow: 0px 1.2663px 10.1304px rgba(15, 23, 43, 0.08), 0px 0px 0px 1.2663px rgba(15, 23, 43, 0.08), 0px 182.32px 190.99px 57px rgba(15, 23, 43, 0.2);
    top: 34%;
    left: 26.4%;
    width: 47.24%;
    transition: transform 0.2s ease-in-out;
}

.img-figma-plugin-illustrations {
    position: absolute;
    right: -2%;
    top: 38%;
    width: 28.97%;
    transition: transform 0.2s ease-in-out;
}

.img-figma-plugin-feedback {
    max-width: 100%;
    position: relative;
    margin-top: 60%;
}

/* For temporary tiles */

.a-temp {
    text-align: center;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 0px 1px #E9ECEF;
    transition: background-color 0.2s ease-in-out;
}

.a-temp:hover {
    background-color: #f1f3f5;
    transition: background-color 0.4s ease-in-out;
}

.img-temp {
    max-width: 100%;
}

/* Temporary tiles end */

.about {
    max-width: 660px;
    margin-top: 112px;
}

@media (max-width: 1024px){
    .projects, .projects__column {
        gap: 16px;
    }
}

@media (max-width: 767px) {
    body {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 16px;
        line-height: 22px;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.5px;
    }
    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .intro-memoji {
        width: 58px;
    }
    .intro {
        margin-top: 48px;
        margin-bottom: 64px;
        max-width: 288px;
        gap: 24px;
    }
    .intro-image_texts {
        gap: 8px;
    }
    .intro-description {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.25px;
    }
    .intro-buttons {
        gap: 8px;
    }
    .button {
        font-size: 20px;
        height: 48px;
        padding-left: 16px;
        padding-right: 8px;
    }
    .button-icon {
        height: 24px;
    }
    .projects {
        flex-direction: column;
    }
    .about {
        max-width: 440px;
        margin-top: 64px;
    }
    .emoji-icon {
        font-size: 24px;
        line-height: 24px;
    }
}
